html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	font-family: 'Tajawal', sans-serif;
}

/* global */
.btn {
	padding: 4px 8px;
	background-color: #0094FE;
	border: none;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	transition: .3s;
}

.btn:hover {
	background-color: #0068b2;
}

.btn a {
	text-decoration: none;
	color: inherit;
	padding: inherit;
}

.home-btn {
	font-size: 0.85rem; 
	letter-spacing: 1px;
	padding: 7px 5px;
}

.home {
	padding: 5rem 2rem;
	background-color: #fafafa;
}

.container {
	background-color: #fafafa;
	min-height: 100vh;
}

img {
	max-width: 100%;
	object-fit: cover;
}

.Loader {
	padding: 0;
	margin: 0;
}

/* navbar */
.navbar {
	align-items: center;
	padding: 1.5rem 2rem;
}

.brand-name a {
	letter-spacing: 2px;
	text-decoration: none;
	color: #0094fe;
	margin: 0;
	font-weight: bold;
	font-size: 1.5rem;
	font-size: calc(100% + .8vw);
}

.nav-links {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	gap: .5rem;
	flex-direction: column;
	margin-top: 1rem;
}

.nav-links a {
	text-decoration: none;
	color: #555;
	text-transform: capitalize;
	letter-spacing: 2px;
	font-size: 0.95rem;
	transition: 0.4s;
	padding: inherit;
	display: block;
	padding: 0.5rem 0;
}

.nav-links a:hover {
	color: #0094fe;
}


/* back top */
.container {
	position: relative;
	overflow: hidden;
}

.back-top {
	position: fixed;
	bottom: 0;
	right: 0;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s ease-out;
	border: none;
	background: transparent;
	font-size: 2rem;
	padding: 20px 8px 8px 20px;
	display: grid;
	place-items: center;
	color: #0094fe;
	transform: translateY(100%);
	cursor: pointer;
}

.back-top:hover {
	color: #0068b2;
}

.show-back-top {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

/* search box */
.search-box {
	display: flex;
	padding: 2rem 2.5rem;
	border-radius: 3px;
	margin: 3rem auto;
	margin-bottom: 6rem;
	box-shadow: 0 0.08rem .2rem 0 #bbb;
	background-color: #fff;
	max-width: 560px;
}

.search-field {
	border: none;
	padding: 2px 8px;
	border-radius: 3px;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	width: 100%;
	background-color: #fafafa;
	box-shadow: 0 0 0px .025rem #ccc;
}

.search-btn {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

/* drinks */
.drinks {
	display: grid;
	place-items: center;
	grid-gap: 2rem;
	grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
}

/* drink */
.drink {
	display: grid;
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 0 0.1rem .5rem 0 #bbb;
}

.photo-container {
	max-height: 300px;
	overflow: hidden;
	object-fit: cover;
}

.info-wrap {
	padding: 1.5rem;
}

.drink .name {
	letter-spacing: 1px;
	color: #000;
	font-size: calc(100% + .5vw);

}

.glass {
	letter-spacing: 2px;
	color: #000;
	text-transform: capitalize;
	margin-top: 3px;
	font-size: calc(99% + .05vw);
}

.alcoholic {
	letter-spacing: 1px;
	color: #777;
	margin-top: 5px;
	font-size: calc(80% + 0.1vw);
}

.details-btn {
	background-color: #0094fe;
	color: #fff;
	letter-spacing: 2px;
	font-size: .9rem;
	padding: 7px 6px;
	margin-top: 12px;
}

/* single drink page */
.single-drink-page {
	text-align: center;
	overflow: hidden;
	padding: 5rem 2rem;
	background-color: #fafafa;
	margin: 0 4vw;
}

.single-drink-page .name {
	font-size: 30px;
	font-size: calc(100% + 1.2vw);
	font-weight: 500;
	letter-spacing: 2px;
	margin-top: 1rem;
	margin-bottom: 3rem;
}

/* single drink */
.single-drink {
	display: flex;
	flex-direction: column;
}

.single-drink img {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
	border-radius: 3px;
}

.single-drink-info {
	padding-top: 1.5rem;
}

.property {
	text-align: left;
	margin-bottom: 1rem;
}

.prop-name {
	font-size: .95rem;
	display: inline-block;
	background-color: #4db4fe;
	color: #005998;
	padding: 5px 8px;
	border-radius: 3px;
	letter-spacing: 1px;
	text-transform: capitalize;
}

.prop-value {
	font-size: 1rem;
	display: inline;
	padding-left: 5px;
	line-height: 2rem;
}

/* about */
.about {
	padding: 0 1rem;
}

.about-title {
	color: #5abf7a;
}

.about-desc {
	padding: 1rem 0;
	color: #000;
	line-height: 1.5rem;
}

/* active */

.active {
	color: #0094fe !important;
	background-size: 100%;
}

/* empty */
.empty {
	text-align: center;
}

.empty h3 {
	font-size: 1rem;
	letter-spacing: 2px;
	color: #555;
}

.re-fetch {
	font-size: .9rem;
	padding: 6px 12px;
	margin-top: 2rem;
	letter-spacing: 1px;
}

@media screen and (min-width: 400px) {
	.home, .navbar {
		margin: 0 2rem;
	}
}

@media screen and (min-width: 768px) {
	.navbar {
		display: flex;
	}

	.nav-links {
		flex-direction: row;
		margin: 0;
		margin-left: auto;
		gap: 1rem;
	}

	.nav-links a {
		display: inline;
	}

	.search-field {
		font-size: 1rem;
		padding: 5px 8px;
	}

	.search-btn {
		padding: 6px 12px;
		letter-spacing: 1px;
	}
}

@media screen and (min-width: 995px) {
	.single-drink {
		flex-direction: row;
		height: 25rem;
		gap: 3rem;
	}

	.single-drink-info {
		padding: 0;
		align-self: center;
	}
}

@media screen and (min-width: 1250px) {
	.navbar, .home, .single-drink-page {
		max-width: 1056px;
		margin: auto;
	}
}