
html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	font-family: 'Tajawal', sans-serif;
}

/* global */
.btn {
	padding: 4px 8px;
	background-color: #0094FE;
	border: none;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
}

.btn a {
	text-decoration: none;
	color: inherit;
}

.home-btn {
	font-size: 0.9rem;
	letter-spacing: 1px;
	padding: 6px 12px;
}

.home {
	padding: 5rem 2rem;
	background-color: #e6f4ff;
}

img {
	max-width: 100%;
	object-fit: cover;
}

/* navbar */
.navbar {
	align-items: center;
	margin: 0 2rem;
	padding: 1.5rem 2rem;
	background-color: #fff;
}

.brand-name a {
	letter-spacing: 2px;
	text-decoration: none;
	color: #0094fe;
	margin: 0;
	font-weight: bold;
	font-size: 1.7rem;
}

.nav-links {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	gap: .5rem;
	flex-direction: column;
	margin-top: 1rem;
}

.nav-links li {
	padding: 0.5rem 0;
}

.nav-links a {
	text-decoration: none;
	color: #555;
	text-transform: capitalize;
	letter-spacing: 2px;
	font-size: 0.95rem;
	transition: 0.4s;
	padding: inherit;
}

.nav-links a:hover {
	color: #0094fe;
}


/* back top */
.container {
	position: relative;
	overflow: hidden;
}

.back-top {
	position: fixed;
	bottom: 0;
	right: 0;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s ease-out;
	border: none;
	background: transparent;
	font-size: 2rem;
	padding: 20px 12px 12px 20px;
	display: grid;
	place-items: center;
	color: #0094fe;
	transform: translateY(100%);
	cursor: pointer;
}

.show-back-top {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

/* search box */
.search-box {
	display: flex;
	padding: 2rem 2.5rem;
	border-radius: 3px;
	margin: 3rem 0;
	margin-bottom: 6rem;
	box-shadow: 0 0.1rem .5rem 0 #bbb;
	background-color: #fff;
}

.search-field {
	border: none;
	padding: 2px 8px;
	border-radius: 3px;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	width: 100%;
	background-color: #e6f4ff;
}

.search-btn {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

/* drinks */
.drinks {
	display: grid;
	place-items: center;
	grid-gap: 5rem 2rem;
	grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
}

/* drink */
.drink {
	display: grid;
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 0 0.1rem .5rem 0 #bbb;
}

.photo-container {
	max-height: 300px;
	overflow: hidden;
	object-fit: cover;
}

.info-wrap {
	padding: 1.5rem;
	background-color: #fff;
}

.drink.name {
	font-size: 1.5rem;
	letter-spacing: 2px;
	color: #000;
}

.glass {
	font-size: 1rem;
	letter-spacing: 2px;
	color: #000;
	text-transform: capitalize;
	margin-top: 16px;

}

.alcoholic {
	font-weight: lighter;
	letter-spacing: 2px;
	color: #000;
	font-size: 0.9rem;
	margin-top: 8px;
}

.details-btn {
	background-color: #0094fe;
	color: #fff;
	letter-spacing: 2px;
	font-size: .9rem;
	padding: 6px 14px;
	margin-top: 24px;
}

/* single drink page */
.single-drink-page {
	text-align: center;
	overflow: hidden;
}

.single-drink-page .name {
	font-size: 1.5rem;
	letter-spacing: 1px;
	margin-top: 2rem;
}

/* single drink */
.single-drink {
	margin: 1.5rem;
	display: grid;
	overflow: hidden;
}

.single-drink img {
	border-radius: 5px;
}

.single-drink-info {
	padding: 1rem 0;
}

.property {
	text-align: left;
	padding: 10px 0;
}

.prop-name {
	font-size: 0.8rem;
	display: inline-block;
	background-color: #5abf7e;
	color: #fff;
	padding: 5px 10px;
	border-radius: 3px;
	letter-spacing: 2px;
}

.prop-value {
	font-size: 0.9rem;
	display: inline;
	padding-left: 5px;
	line-height: 2rem;
}

/* about */
.about {
	padding: 0 1rem;
}

.about-title {
	color: #5abf7a;
}

.about-desc {
	padding: 1rem 0;
	color: #000;
	line-height: 1.5rem;
}

/* active */

.active {
	color: #0094fe !important;
	background-size: 100%;
}

/* empty */
.empty {
	text-align: center;
	padding: 2rem 0;
}

.empty h3 {
	font-size: 1rem;
	letter-spacing: 2px;
	color: #555;
}

.re-fetch {
	font-size: .9rem;
	padding: 6px 12px;
	margin-top: 2rem;
	letter-spacing: 1px;
}

@media screen and (min-width: 400px) {
	.home {
		margin: 0 2rem;
	}
}

@media screen and (min-width: 650px) {
	.search-field {
		font-size: 1rem;
		padding: 5px 8px;
	}

	.search-btn {
		padding: 6px 12px;
	}
}